
.header{
    display: flex;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}

.cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 3rem;
}

.container-card{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    border-style: double 2px black
    ;
}

